In [1]:
import pandas as pd

In [3]:
data= pd.read_csv("bank.csv")

In [4]:
data.shape

(41188, 21)

In [5]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
print(data.columns.tolist())

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y']

In [8]:
# no need for duratipn column as it will not be available for predicting future customers (befor the call)

In [9]:
data= data.drop(["duration"], axis=1)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  emp.var.rate    41188 non-null  float64
 15  cons.price.idx  41188 non-null  float64
 16  cons.conf.idx   41188 non-null  float64
 17  euribor3m       41188 non-null  float64
 18  nr.employed     41188 non-null  float64
 19  y               41188 non-null  object
dtypes: float64(5), int64(4), object(11)
memory usage: 6.3+ MB

In [14]:
data= pd.get_dummies(data, drop_first= True)

In [15]:
data.head()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_blue-collar,...,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,y_yes
0,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,1,0,0
1,57,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,1,0,0
2,37,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,1,0,0
3,40,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,1,0,0
4,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,1,0,0

In [18]:
X= data.iloc[:, :-1]
Y= data.iloc[:, -1]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.4, random_state=1234)

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
rfc1= RandomForestClassifier(random_state= 1234)

In [26]:
rfc1.fit(x_train, y_train)
y_pred= rfc1.predict(x_test)

In [41]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test, y_pred)
score= rfc1.score(x_test, y_test)

In [42]:
print(cm1,score)

[[14182   452]
 [ 1308   534]] 0.8931779558145181

In [34]:
from sklearn.feature_selection import RFE

In [37]:
rfc2= RandomForestClassifier(random_state=1234)
rfe= RFE(estimator=rfc2, n_features_to_select=30, step=1) # step = no of features to be dropped at an iteration
rfe.fit(X, Y)

RFE(estimator=RandomForestClassifier(random_state=1234),
    n_features_to_select=30)

In [39]:
x_train_rfe= rfe.transform(x_train)
x_test_rfe= rfe.transform(x_test)

In [40]:
rfc2.fit(x_train_rfe, y_train)

RandomForestClassifier(random_state=1234)

In [44]:
y_pred_rfe= rfc2.predict(x_test_rfe)
cm_rfe= confusion_matrix(y_test, y_pred_rfe)
score_rfe= rfc2.score(x_test_rfe, y_test)

In [45]:
print(cm_rfe, score_rfe) #similar scores with much less features

[[14158   476]
 [ 1325   517]] 0.8906894877397427

In [46]:
columns= list(X.columns)

In [47]:
ranking= rfe.ranking_

In [48]:
print(ranking) #selected ones are ones

[ 1  1  1  1  1  1  1  1  1  1  5 11  1  1  3  1  6  1  8 16  1  1 20  4
  1  1 22  1  1  2  1 23  7  1 13  1  1 17 21 15 14 10 12 19  9 18  1  1
  1  1  1  1]

In [50]:
feature_importance= rfc1.feature_importances_
print(feature_importance)

[1.65274889e-01 8.13445034e-02 3.51821173e-02 1.97855528e-02
 2.24572499e-02 2.49033326e-02 2.94136744e-02 1.23793652e-01
 5.34953029e-02 1.35860233e-02 6.35762434e-03 5.25102663e-03
 1.09518569e-02 8.51941245e-03 7.61625226e-03 1.11160755e-02
 5.63707366e-03 1.78105836e-02 5.92429537e-03 2.30082548e-03
 2.16714039e-02 1.72677844e-02 7.55983655e-04 7.01736118e-03
 1.32103931e-02 1.74396970e-02 4.93856173e-04 1.27117781e-02
 1.76433153e-02 7.41622789e-03 1.55090469e-02 2.14725816e-07
 3.53607505e-03 3.75478008e-02 3.55451637e-03 2.40474537e-02
 1.46297844e-02 2.75905206e-03 6.76819485e-04 2.85702973e-03
 3.54527922e-03 4.30481944e-03 4.46472817e-03 2.34885427e-03
 7.39067270e-03 2.10314286e-03 1.58271599e-02 1.65924233e-02
 1.61147026e-02 1.59911511e-02 1.01537842e-02 2.96963648e-02]

In [56]:
rfe_slected= pd.DataFrame()
rfe_selected= pd.concat([pd.DataFrame(columns), pd.DataFrame(ranking), pd.DataFrame(feature_importance)], axis=1)

In [58]:
rfe_selected.columns= ["Feature_Name", "Ranking", "Feature_Importance"]
print(rfe_selected)

                     Feature_Name  Ranking  Feature_Importance
0                             age        1        1.652749e-01
1                        campaign        1        8.134450e-02
2                           pdays        1        3.518212e-02
3                        previous        1        1.978555e-02
4                    emp.var.rate        1        2.245725e-02
5                  cons.price.idx        1        2.490333e-02
6                   cons.conf.idx        1        2.941367e-02
7                       euribor3m        1        1.237937e-01
8                     nr.employed        1        5.349530e-02
9                 job_blue-collar        1        1.358602e-02
10               job_entrepreneur        5        6.357624e-03
11                  job_housemaid       11        5.251027e-03
12                 job_management        1        1.095186e-02
13                    job_retired        1        8.519412e-03
14              job_self-employed        3        7.616252e-03
15                   job_services        1        1.111608e-02
16                    job_student        6        5.637074e-03
17                 job_technician        1        1.781058e-02
18                 job_unemployed        8        5.924295e-03
19                    job_unknown       16        2.300825e-03
20                marital_married        1        2.167140e-02
21                 marital_single        1        1.726778e-02
22                marital_unknown       20        7.559837e-04
23             education_basic.6y        4        7.017361e-03
24             education_basic.9y        1        1.321039e-02
25          education_high.school        1        1.743970e-02
26           education_illiterate       22        4.938562e-04
27  education_professional.course        1        1.271178e-02
28    education_university.degree        1        1.764332e-02
29              education_unknown        2        7.416228e-03
30                default_unknown        1        1.550905e-02
31                    default_yes       23        2.147258e-07
32                housing_unknown        7        3.536075e-03
33                    housing_yes        1        3.754780e-02
34                   loan_unknown       13        3.554516e-03
35                       loan_yes        1        2.404745e-02
36              contact_telephone        1        1.462978e-02
37                      month_aug       17        2.759052e-03
38                      month_dec       21        6.768195e-04
39                      month_jul       15        2.857030e-03
40                      month_jun       14        3.545279e-03
41                      month_mar       10        4.304819e-03
42                      month_may       12        4.464728e-03
43                      month_nov       19        2.348854e-03
44                      month_oct        9        7.390673e-03
45                      month_sep       18        2.103143e-03
46                day_of_week_mon        1        1.582716e-02
47                day_of_week_thu        1        1.659242e-02
48                day_of_week_tue        1        1.611470e-02
49                day_of_week_wed        1        1.599115e-02
50           poutcome_nonexistent        1        1.015378e-02
51               poutcome_success        1        2.969636e-02